<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form action="#" th:action="@{/member/login}" th:object="${memberLoginDto}" method="post">
    <div>
        <label for="id">User ID:</label>
        <input type="text" id="id" th:field="*{id}" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>
